body {
  color: #333;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  font-weight: 500;  
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  color: #fff;
  background-color: #f79214;
  border-radius: 38px;
  border: none;
  display: flex;
}

/*通常のメニュー部分*/
header {
  padding-bottom: 25px;
  width: 100%;
  position: absolute;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
  max-width: 100%;
  position: relative;
}

.header-container a:hover {
  opacity: 0.8;
}

.site-top {
  align-self: center;
}

.image-potepan {
  height: 20px;
  display: block;
}

.menu-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item-link {
  display: block;
  padding: 0 20px;
}

.menu-item-link>span {
  display: block;
  text-align: center;
  font-weight: 700;
}

.menu-item-link>span:first-child {
  font-size: 12px;
  font-family: "Lato",sans-serif;
}

.menu-item-link>span:last-child {
  font-size: 10px
}

.menu-item-link:visited {
  color: #333;
}

.btn-header {
  font-size: 12px;
  padding: 10px 20px;
  margin: 0 30px;
}

/*画面を縮小した時のメニュー部分*/
.sp-header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  z-index: 90;
  top: 0;
}

.image-potepan-sp {
  height: 20px;
  padding: 20px 0 0 30px;
}

.hamburger-menu-box {
  position: fixed;
  top: 0;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  z-index: 100;
  background-color: #ffffff;
}

.hamburger-menu-box span,
.hamburger-menu-box span::before,
.hamburger-menu-box span::after {
  content: "";
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 3px;
  background-color: #808080;
  position: absolute;
}

.hamburger-menu-box span::before {
  bottom: 10px;
}

.hamburger-menu-box span::after {
  top: 10px;
}

#hamburger-menu-check {
  display: none;
}

#hamburger-menu-check:checked ~ .hamburger-menu-box span {
  background: rgba(255, 255, 255, 0);
}

#hamburger-menu-check:checked ~ .hamburger-menu-box span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#hamburger-menu-check:checked ~ .hamburger-menu-box span::after {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger-content {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50px;
  transform: translateX(100vw);
  /*transition: all 0.2s linear;*/
  z-index: 80;
  background-color: #000000;
  background: rgba(0,0,0,0.8);
}

#hamburger-menu-check:checked ~ .hamburger-content {
  transform: translateX(0);
}

.hamburger-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hamburger-item {
  margin: 20px 0;
}

.hamburger-link {
  display: block;
  width: 100%;
  font-size: 11px;
  color: #ff8c00;
}

.hamburger-link:visited {
  color: #ff8c00;
}

.hamburger-link::first-line {
  font-size: 16px;
  color: #ffffff;
}

.btn-sp-header {
  display: inline-block;
  width: 200px;
  padding: 20px 20px;

}



/*上半分（背景画像が設定されている部分）*/
.firstview-top {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 28px;
}

.firstview-container {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.appeal-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  margin-bottom: 70px;
}

.top-appeal {
  font-family: "Lato",sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  margin-top: 0;
  margin-bottom: 15px;
}

.images-appeal {
  display: flex;
  align-items: center;
}

.images-appeal > img {
  margin-right: 8px;
}

.image-appeal2 {
 width: 40%;
}

.btn-main {
  font-size: 16px;
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 20px 0;
}

.btn-main:hover{
  opacity: 0.8;
}

.annotation {
  font-size: 12px;
  color: #a2a2a4;
}

.annotation>p {
  margin: 0px;
}

.annotation>p>a {
  color: #a2a2a4;
}

/*下半分（ポテパンキャンプとはの部分）*/
.firstviw-bottom {
  background-color: #f79214;
  padding: 30px;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: center;

}

.outline {
  width: 470px;
  color: #fff;
  margin: 0 30px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.img-reskilling {
  height: 75px;
  width: 150px;
}


/*横幅1081px以上の場合*/
@media screen and (min-width:1081px) {

.sp-header {
  display: none;
}

.hamburger-content {
  display: none;
}  

}

/*横幅1080px以下の場合*/
@media screen and (max-width: 1080px) {

.header-container {
  display: none;
}

.firstview-top {
  margin-top: 60px;
}

}

/*横幅1024px以下の場合*/
@media screen and (max-width: 1024px) {
  
.bottom-content {
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
}

.pv-container {
  width: 100%;
	padding-top: 56.25%;
  margin-top: 20px;
  position: relative;
}

.pv {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.outline {
  width: 100%;
  margin-top: 20px;
}

.link-reskilling {
  text-align: center;
  margin-top: 30px;
}

}

/*横幅770px以下の場合*/
@media screen and (max-width: 770px) {
 
.firstview-top {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero-sp.jpg.webp);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 0;
} 
  
.firstview-container {
  max-width: none;
  width: 100%;
  box-sizing: border-box;
  padding-top: 65%;
  padding-left: 20px;
  padding-right: 20px;
}

.appeal-group {
  width: 100%;
  margin-bottom: 20px;
}

.top-appeal {
  font-size: 25px;
  line-height: 36px;
}

.images-appeal {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.image-appeal1,.image-appeal3 {
  width: 27.5%;
}

.bottom-content {
  width: auto;
}

}
